.bg {
	background-color: rgb(16, 73, 73);
	height: 100vh;
}

.containerdiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text {
	color: #ffffff;
	font-family: "OCR A Std";
	display: "flex";
	justify-content: "center";
	font-size: 22;
}

.texts {
	color: #ece4b7;
	font-family: "OCR A Std";
	display: "flex";
	justify-content: "center";
	font-size: 15;
}

.drop {
	filter: drop-shadow(40px 20px 12px);
	display: flex;
	justify-content: center;
	background-color: gold;
	border-radius: 1em;
	width: 20em;
}

/* .working {
	background-color: rgb(72, 179, 179);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
} */
