.bg {
	background-color: "#7fb069";
}

.align {
	display: "flex";
	justify-content: "center";
}

.text {
	color: #ffffff;
	font-family: "OCR A Std";
	display: "flex";
	justify-content: "center";
	font-size: 22;
}
.texts {
	color: #ece4b7;
	font-family: "OCR A Std";
	display: "flex";
	justify-content: "center";
	font-size: 15;
}

.drop {
	filter: "drop-shadow(40px 20px 12px )";
	display: "flex";
	justify-content: "center";
}

.buttonStyles {
	text-align: "center";
	margin: "auto";
	cursor: "pointer";
	padding: "0.46em 1.6em";
	border: "0.1em solid #FFFFFF";
	border-radius: "0.12em";
	box-sizing: "border-box";
	text-decoration: "none";
	font-family: "OCR A Std";
	font-weight: 300;
	color: #030303;
	text-shadow: "0 0.04em 0.04em rgba(0,0,0,0.35)";
	background-color: #7fb069;
}

.working {
	background-color: rgb(16, 73, 73);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}
